<!DOCTYPE html>
<html lang="en" ng-app="ToDo" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
        .done {
                        color: blue;
        }
    </style>


</head>
<body>

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.js"></script>







</div>


<div ng-controller="controllerList">
    <form name="form" ng-submit="addTodo()">
        <input type="text" name="newToDo" ng-model="newToDo" required/>
        <button>go</button>
    </form>
    <button ng-click="clearTasks()">clear items</button>
    <ul>
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done"/>
            <span ng-class="{'done':todo.done}">{{todo.title}}</span>
        </li>
    </ul>
</div>



<div class="link" ui-sref="#"> angular link</div>

<a ui-sref="home">Home</a>
<a ui-sref="pro">pro</a>
<a ui-sref="aboutUs">about us</a>

<p>welcome to options</p>
<p>welcome to pro</p>
<p>welcome to about us</p>





<ui-view></ui-view>


<script src="style.css."></script>
<script src="router.js"></script>
<script src="controllerList.js"></script>
</body>
</html>