

.container{
    width: 70%;
    margin: auto;
}
.parallax {
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whitesection {
    background-color: #878787;
    min-height: 600px;
    width: 100%;
}
.imgAngular {
    background-image: url(dice.jpg);
    width: 100%;
    height: 500px;
}
#pro {
    color: purple;
}
#aboutUs {
    color: #0c60ee;

}
#options {
   color: black;
}
p {
    font-family: "Apple Chancery";
}

#button {
    color: #0c60ee;
}
#button2 {
    color: #0c60ee;
}
#button3 {
    color: #0c60ee;
}
#button4 {
    color: #0c60ee;
}
.done {
    color: red;
}
#yes {
    margin: 10%
}

#span {
    float: left;
}

ui-view {
    text-align: center;
}
#center{
    text-align: center;
    margin-top: 100px;
    padding-top: 100px;
}